<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="appear.pnud.preservamos"
	android:versionCode="21"
	android:versionName="1.4.5"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="33"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true" />
	<uses-feature android:name="android.hardware.location.gps"/>
	<permission
	        android:name="appear.pnud.preservamos.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
	        android:protectionLevel="signature" />
	
	    <uses-permission android:name="appear.pnud.preservamos.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="appear.pnud.preservamos.permission.MAPS_RECEIVE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="appear.pnud.preservamos.permission.C2D_MESSAGE"/>
	<uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
	<application
		android:name="androidx.multidex.MultiDexApplication"
		android:icon="@drawable/icon"
		android:label="PreserVamos"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory">
		
		<activity android:name="com.google.android.gms.common.api.GoogleApiActivity"
		  android:theme="@android:style/Theme.Translucent.NoTitleBar"
		  android:exported="false"/>
		    <meta-data
		  android:name="com.google.android.gms.version"
		  android:value="@integer/google_play_services_version" />
		<receiver
		            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
		            android:enabled="true"
		            android:exported="false" >
		        </receiver>
		
		  <service
		            android:name="com.google.android.gms.measurement.AppMeasurementService"
		            android:enabled="true"
		            android:exported="false" />
					
		<service
		            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
		            android:enabled="true"
		            android:exported="false"
		            android:permission="android.permission.BIND_JOB_SERVICE" />
		
		 <service android:name="com.google.firebase.components.ComponentDiscoveryService"  android:directBootAware="true" android:exported="false"  >
		            <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
					 <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		             <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		             <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		            <meta-data 
						android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
						android:value="com.google.firebase.components.ComponentRegistrar"/>
		
					<meta-data
		   				 android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
		   				 android:value="com.google.firebase.components.ComponentRegistrar"/>
		   			 <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		             <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		              <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		             <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar"/>
		            <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar"/>
		               
		</service>
		   <provider
		     android:name="com.google.firebase.provider.FirebaseInitProvider"
		            android:authorities="appear.pnud.preservamos.firebaseinitprovider"
		            android:directBootAware="true"
		            android:exported="false"
		            android:initOrder="100" />
		   <receiver
		  android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
		  android:exported="true"
		  android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		  <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		  <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		  <category android:name="appear.pnud.preservamos" />
		  </intent-filter>
		  </receiver>
		    <receiver
		  android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"
		  android:exported="false" />
		
		
		  <service
		  android:name="com.google.firebase.iid.FirebaseInstanceIdService"
		  android:exported="true">
		  <intent-filter android:priority="-500">
		  <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
		  </intent-filter>
		  </service>
		<service
		            android:name="com.google.firebase.messaging.FirebaseMessagingService"
		            android:directBootAware="true"
		            android:exported="false" >
		            <intent-filter android:priority="-500" >
		                <action android:name="com.google.firebase.MESSAGING_EVENT" />
		            </intent-filter>
		        </service>
		        
		   <service android:name="anywheresoftware.b4a.objects.FirebaseNotificationsService"  android:exported="true">
		     <intent-filter>
		  		<action android:name="com.google.firebase.MESSAGING_EVENT"/>
		     </intent-filter>
		   </service>
		<activity
		            android:name="com.google.firebase.auth.internal.GenericIdpActivity"
		            android:excludeFromRecents="true"
		            android:exported="true"
		            android:launchMode="singleTask"
		            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		            <intent-filter>
		                <action android:name="android.intent.action.VIEW" />
		
		                <category android:name="android.intent.category.DEFAULT" />
		                <category android:name="android.intent.category.BROWSABLE" />
		
		                <data
		                    android:host="firebase.auth"
		                    android:path="/"
		                    android:scheme="genericidp" />
		            </intent-filter>
		        </activity>
		        <activity
		            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
		            android:excludeFromRecents="true"
		            android:exported="true"
		            android:launchMode="singleTask"
		            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		            <intent-filter>
		                <action android:name="android.intent.action.VIEW" />
		
		                <category android:name="android.intent.category.DEFAULT" />
		                <category android:name="android.intent.category.BROWSABLE" />
		
		                <data
		                    android:host="firebase.auth"
		                    android:path="/"
		                    android:scheme="recaptcha" />
		            </intent-filter>
		        </activity>
		        
		          <activity
		            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
		            android:excludeFromRecents="true"
		            android:exported="false"
		            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		
		        <!--
		            Service handling Google Sign-In user revocation. For apps that do not integrate with
		            Google Sign-In, this service will never be started.
		        -->
		         <service
		            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
		            android:exported="true"
		            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
		            android:visibleToInstantApps="true" />
		<meta-data
		  android:name="com.google.android.geo.API_KEY"
		  android:value="AIzaSyBfRS9SZ_6Q797PdyOqywGtpYlWV2lNuYg" />
		<uses-library
		      android:name="org.apache.http.legacy"
		      android:required="false"/>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".form_main"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".form_reporte"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmlocalizacion"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".reporte_habitat_rio"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmdatossinenviar"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".reporte_envio"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".alerta_fotos"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".alertas"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".aprender_muestreo"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<service
			android:name=".downloadservice"
			android:exported="true">
		</service>
		<receiver
			android:name=".downloadservice$downloadservice_BR"
			android:exported="true">
		</receiver>
		<service
			android:name=".firebasemessaging"
			android:exported="true">
		</service>
		<receiver
			android:name=".firebasemessaging$firebasemessaging_BR"
			android:exported="true">
			<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmabout"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmdatosanteriores"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmeditprofile"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmfelicitaciones"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmmapa"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmmunicipioestadisticas"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmpoliticadatos"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".frmtiporeporte"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<service
			android:name=".imagedownloader"
			android:exported="true">
		</service>
		<receiver
			android:name=".imagedownloader$imagedownloader_BR"
			android:exported="true">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".inatcheck"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".mod_hidro"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".mod_hidro_fotos"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".mod_residuos"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".mod_residuos_fotos"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".reporte_fotos"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".reporte_habitat_laguna"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".reporte_habitat_rio_sierras"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".reporte_habitat_rio_sierras_bu"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
			<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".character_creation"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".register"
			android:label="PreserVamos"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<receiver
			android:name=".httputils2service"
			android:exported="true">
		</receiver>
	</application>
</manifest>